<footer class="footer py-2 mt-auto bg-dark bg-gradient">
    <div class="container">
        <div class="d-flex bd-highlight mb-1" style="font-family: 'Sedgwick Ave Display', cursive;">
            <div class="p-2 bd-highlight">
                <span class="text-white ">&copy; Campsite 2023</span>
            </div>
            <div  class="ms-auto p-2 bd-highlight">
                <span class="text-white display-10">- Digvijay Singh</span>
            </div>
        </div>
    </div>
</footer>