body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1571687949921-1306bfb24b72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNhbXBzaXRlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    
}

.nav-link:hover{
    color: rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
}

/* .nav-link.active {
    color: white;
    border-bottom-color:white;
} */

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none;
}

h3 span{
    font-size: 70px;
    background: linear-gradient(340deg, rgba(253,45,45,0.8072478991596639) 10%, rgba(123,34,195,1) 34%, rgba(34,124,195,0.8072478991596639) 57%, rgba(44,176,195,1) 70%, rgba(123,34,195,0.8212535014005602) 84%); -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h3 span:active{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.px-3{
    font-family: 'Aboreto', cursive;
}